<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>consumer_Key</key>
	<string>11714442-2ZhsmY8VYwZzJ55J65us8r4hnpPFap9GTTJ2tcgz3</string>
	<key>consumer_Secret</key>
	<string>eG4kp3FxWmaPa1dMYAfd8tTRfvITeKXu09eUQbF8jx6ur</string>
</dict>
</plist>
